
<h1><%=@song.title%></h1>

<form method="POST" action="/songs/<%=@song.id%>">
    <input type="hidden" name="_method" value="PATCH">
    title: <input type="text" name="songs[title]" value="<%=@song.title%>"><br><br>
    genre: <input type="text" name="songs[genre]" value="<%=@song.genre%>"><br><br>
    composer: <input type="text" name="songs[composer]" value="<%=@song.composer%>"><br><br>
    <input type="submit" value="submit changes">
</form>
<br>
   <form method="POST" action="/songs/<%= @song.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete song" class="small button">
   </form>

