


<% @songs.each do |s| %>
<% if s.user_id == current_user.id %>
<p><h1> <%= s.title%> </h1> </p>
<%= "by" %>
<p> <%= s.composer %></p>
<%= "update song information" %>
<br>
<%= "remove song" %>
<% end %> 

<% end %>
<br>
<br>
<p> <a href="/new">add a new song</a></p>