this will display the song title, the song genre, and the song composer.

<h1> <%= @song.each do |s| %> </h1>
<h2> <%= s.title %> </h2>
<h2> <%= s.genre %> </h2>
<h2> <%= s.composer %> </h2>
<h3> <%= edit %> </h3>
<h3> <%= delete %> </h3>

add another song 


